Repository estatekitzach/documents-api-9ccfey, changes with the owners that .github/CODEOWNERS names for each.
All owners: @estatekit/core-team, @estatekit/domain-experts, @estatekit/infrastructure-team, @estatekit/api-team, @estatekit/devops-team, @estatekit/security-team, @estatekit/qa-team

Add public-samples/documents-api-9ccfey/src/backend/src/EstateKit.Documents.Infrastructure/Configuration/AwsConfiguration.cs
  src/backend/src/EstateKit.Documents.Infrastructure/Configuration/AwsConfiguration.cs
Owners: @estatekit/core-team

Add public-samples/documents-api-9ccfey/src/backend/src/EstateKit.Documents.Infrastructure/Configuration/StorageConfiguration.cs
  src/backend/src/EstateKit.Documents.Infrastructure/Configuration/StorageConfiguration.cs
Owners: @estatekit/core-team

Add public-samples/documents-api-9ccfey/src/backend/src/EstateKit.Documents.Infrastructure/Repositories/DocumentRepository.cs
  src/backend/src/EstateKit.Documents.Infrastructure/Repositories/DocumentRepository.cs
Owners: @estatekit/core-team

Add public-samples/documents-api-9ccfey/src/backend/src/EstateKit.Documents.Infrastructure/Security/DocumentEncryptionService.cs
  src/backend/src/EstateKit.Documents.Infrastructure/Security/DocumentEncryptionService.cs
Owners: @estatekit/security-team

Add public-samples/documents-api-9ccfey/src/backend/src/EstateKit.Documents.Infrastructure/Security/KeyManagementService.cs
  src/backend/src/EstateKit.Documents.Infrastructure/Security/KeyManagementService.cs
Owners: @estatekit/security-team

Add public-samples/documents-api-9ccfey/src/backend/src/EstateKit.Documents.Infrastructure/Services/AwsS3StorageService.cs
  src/backend/src/EstateKit.Documents.Infrastructure/Services/AwsS3StorageService.cs
Owners: @estatekit/core-team

Add public-samples/documents-api-9ccfey/src/backend/src/EstateKit.Documents.Infrastructure/Services/DocumentAnalysisService.cs
  src/backend/src/EstateKit.Documents.Infrastructure/Services/DocumentAnalysisService.cs
Owners: @estatekit/core-team

Add public-samples/documents-api-9ccfey/src/backend/src/EstateKit.Documents.Infrastructure/Services/DocumentService.cs
  src/backend/src/EstateKit.Documents.Infrastructure/Services/DocumentService.cs
Owners: @estatekit/core-team

Add public-samples/documents-api-9ccfey/src/backend/src/EstateKit.Documents.Infrastructure/Services/TextractAnalysisService.cs
  src/backend/src/EstateKit.Documents.Infrastructure/Services/TextractAnalysisService.cs
Owners: @estatekit/core-team

Add public-samples/documents-api-9ccfey/src/backend/tests/EstateKit.Documents.Api.Tests/EstateKit.Documents.Api.Tests.csproj
  src/backend/tests/EstateKit.Documents.Api.Tests/EstateKit.Documents.Api.Tests.csproj
Owners: @estatekit/qa-team

Add public-samples/documents-api-9ccfey/src/backend/tests/EstateKit.Documents.Api.Tests/Controllers/DocumentAnalysisControllerTests.cs
  src/backend/tests/EstateKit.Documents.Api.Tests/Controllers/DocumentAnalysisControllerTests.cs
Owners: @estatekit/qa-team

Add public-samples/documents-api-9ccfey/src/backend/tests/EstateKit.Documents.Api.Tests/Controllers/DocumentControllerTests.cs
  src/backend/tests/EstateKit.Documents.Api.Tests/Controllers/DocumentControllerTests.cs
Owners: @estatekit/qa-team

Add public-samples/documents-api-9ccfey/src/backend/tests/EstateKit.Documents.Core.Tests/EstateKit.Documents.Core.Tests.csproj
  src/backend/tests/EstateKit.Documents.Core.Tests/EstateKit.Documents.Core.Tests.csproj
Owners: @estatekit/qa-team

Add public-samples/documents-api-9ccfey/src/backend/tests/EstateKit.Documents.Core.Tests/Services/DocumentServiceTests.cs
  src/backend/tests/EstateKit.Documents.Core.Tests/Services/DocumentServiceTests.cs
Owners: @estatekit/qa-team

Add public-samples/documents-api-9ccfey/src/backend/tests/EstateKit.Documents.Infrastructure.Tests/EstateKit.Documents.Infrastructure.Tests.csproj
  src/backend/tests/EstateKit.Documents.Infrastructure.Tests/EstateKit.Documents.Infrastructure.Tests.csproj
Owners: @estatekit/qa-team

Add public-samples/documents-api-9ccfey/src/backend/tests/EstateKit.Documents.Infrastructure.Tests/Repositories/DocumentRepositoryTests.cs
  src/backend/tests/EstateKit.Documents.Infrastructure.Tests/Repositories/DocumentRepositoryTests.cs
Owners: @estatekit/qa-team

Add public-samples/documents-api-9ccfey/src/backend/tests/EstateKit.Documents.Infrastructure.Tests/Services/AwsS3StorageServiceTests.cs
  src/backend/tests/EstateKit.Documents.Infrastructure.Tests/Services/AwsS3StorageServiceTests.cs
Owners: @estatekit/qa-team

Add public-samples/documents-api-9ccfey/src/backend/tests/EstateKit.Documents.Infrastructure.Tests/Services/TextractAnalysisServiceTests.cs
  src/backend/tests/EstateKit.Documents.Infrastructure.Tests/Services/TextractAnalysisServiceTests.cs
Owners: @estatekit/qa-team

.github/CODEOWNERS:

# Unless a later match takes precedence, @estatekit/core-team
# will be requested for review when someone opens a pull request
* @estatekit/core-team

# Core domain logic ownership
src/backend/EstateKit.Documents.Core/** @estatekit/domain-experts

# Infrastructure implementation ownership
src/backend/EstateKit.Documents.Infrastructure/** @estatekit/infrastructure-team

# API implementation ownership
src/backend/EstateKit.Documents.Api/** @estatekit/api-team

# AWS infrastructure configuration ownership
infrastructure/aws/** @estatekit/devops-team

# CI/CD workflow ownership
.github/workflows/** @estatekit/devops-team

# Security implementation ownership - requires security team review
src/backend/**/Security/** @estatekit/security-team
src/backend/**/Authentication/** @estatekit/security-team

# Test implementation ownership
src/backend/tests/** @estatekit/qa-team

# Sensitive paths requiring security team review
infrastructure/aws/kubernetes/base/secrets.yaml @estatekit/security-team
