Repository estatekitzach/documents-api-9ccfey, changes with the owners that .github/CODEOWNERS names for each.
All owners: @estatekit/core-team, @estatekit/domain-experts, @estatekit/infrastructure-team, @estatekit/api-team, @estatekit/devops-team, @estatekit/security-team, @estatekit/qa-team

Add public-samples/documents-api-9ccfey/.github/pull_request_template.md
  .github/pull_request_template.md
Owners: @estatekit/core-team

Add public-samples/documents-api-9ccfey/.github/workflows/cd.yml
  .github/workflows/cd.yml
Owners: @estatekit/devops-team

Add public-samples/documents-api-9ccfey/.github/workflows/ci.yml
  .github/workflows/ci.yml
Owners: @estatekit/devops-team

Add public-samples/documents-api-9ccfey/documentation/Input Prompt.md
  documentation/Input Prompt.md
Owners: @estatekit/core-team

Add public-samples/documents-api-9ccfey/documentation/Product Requirements Document (PRD).md
  documentation/Product Requirements Document (PRD).md
Owners: @estatekit/core-team

Add public-samples/documents-api-9ccfey/documentation/Project Guide.md
  documentation/Project Guide.md
Owners: @estatekit/core-team

Add public-samples/documents-api-9ccfey/documentation/Technical Specifications.md
  documentation/Technical Specifications.md
Owners: @estatekit/core-team

Add public-samples/documents-api-9ccfey/infrastructure/aws/cdk/jest.config.js
  infrastructure/aws/cdk/jest.config.js
Owners: @estatekit/devops-team

Add public-samples/documents-api-9ccfey/infrastructure/aws/cdk/package.json
  infrastructure/aws/cdk/package.json
Owners: @estatekit/devops-team

Add public-samples/documents-api-9ccfey/infrastructure/aws/cdk/tsconfig.json
  infrastructure/aws/cdk/tsconfig.json
Owners: @estatekit/devops-team

Add public-samples/documents-api-9ccfey/infrastructure/aws/cdk/bin/app.ts
  infrastructure/aws/cdk/bin/app.ts
Owners: @estatekit/devops-team

Add public-samples/documents-api-9ccfey/infrastructure/aws/cdk/lib/cognito-stack.ts
  infrastructure/aws/cdk/lib/cognito-stack.ts
Owners: @estatekit/devops-team

Add public-samples/documents-api-9ccfey/infrastructure/aws/cdk/lib/eks-stack.ts
  infrastructure/aws/cdk/lib/eks-stack.ts
Owners: @estatekit/devops-team

Add public-samples/documents-api-9ccfey/infrastructure/aws/cdk/lib/monitoring-stack.ts
  infrastructure/aws/cdk/lib/monitoring-stack.ts
Owners: @estatekit/devops-team

Add public-samples/documents-api-9ccfey/infrastructure/aws/cdk/lib/networking-stack.ts
  infrastructure/aws/cdk/lib/networking-stack.ts
Owners: @estatekit/devops-team

Add public-samples/documents-api-9ccfey/infrastructure/aws/cdk/lib/s3-stack.ts
  infrastructure/aws/cdk/lib/s3-stack.ts
Owners: @estatekit/devops-team

Add public-samples/documents-api-9ccfey/infrastructure/aws/cdk/lib/security-stack.ts
  infrastructure/aws/cdk/lib/security-stack.ts
Owners: @estatekit/devops-team

Add public-samples/documents-api-9ccfey/infrastructure/aws/cdk/test/cognito-stack.test.ts
  infrastructure/aws/cdk/test/cognito-stack.test.ts
Owners: @estatekit/devops-team

Add public-samples/documents-api-9ccfey/infrastructure/aws/cdk/test/eks-stack.test.ts
  infrastructure/aws/cdk/test/eks-stack.test.ts
Owners: @estatekit/devops-team

Add public-samples/documents-api-9ccfey/infrastructure/aws/cdk/test/s3-stack.test.ts
  infrastructure/aws/cdk/test/s3-stack.test.ts
Owners: @estatekit/devops-team

Add public-samples/documents-api-9ccfey/infrastructure/aws/kubernetes/base/configmap.yaml
  infrastructure/aws/kubernetes/base/configmap.yaml
Owners: @estatekit/devops-team

Add public-samples/documents-api-9ccfey/infrastructure/aws/kubernetes/base/deployment.yaml
  infrastructure/aws/kubernetes/base/deployment.yaml
Owners: @estatekit/devops-team

Add public-samples/documents-api-9ccfey/infrastructure/aws/kubernetes/base/hpa.yaml
  infrastructure/aws/kubernetes/base/hpa.yaml
Owners: @estatekit/devops-team

Add public-samples/documents-api-9ccfey/infrastructure/aws/kubernetes/base/ingress.yaml
  infrastructure/aws/kubernetes/base/ingress.yaml
Owners: @estatekit/devops-team

Add public-samples/documents-api-9ccfey/infrastructure/aws/kubernetes/base/namespace.yaml
  infrastructure/aws/kubernetes/base/namespace.yaml
Owners: @estatekit/devops-team

Add public-samples/documents-api-9ccfey/infrastructure/aws/kubernetes/base/secrets.yaml
  infrastructure/aws/kubernetes/base/secrets.yaml
Owners: @estatekit/security-team

Add public-samples/documents-api-9ccfey/infrastructure/aws/kubernetes/base/service.yaml
  infrastructure/aws/kubernetes/base/service.yaml
Owners: @estatekit/devops-team

Add public-samples/documents-api-9ccfey/infrastructure/aws/kubernetes/overlays/development/kustomization.yaml
  infrastructure/aws/kubernetes/overlays/development/kustomization.yaml
Owners: @estatekit/devops-team

Add public-samples/documents-api-9ccfey/infrastructure/aws/kubernetes/overlays/production/kustomization.yaml
  infrastructure/aws/kubernetes/overlays/production/kustomization.yaml
Owners: @estatekit/devops-team

Add public-samples/documents-api-9ccfey/infrastructure/aws/kubernetes/overlays/staging/kustomization.yaml
  infrastructure/aws/kubernetes/overlays/staging/kustomization.yaml
Owners: @estatekit/devops-team

Add public-samples/documents-api-9ccfey/infrastructure/aws/scripts/deploy.sh
  infrastructure/aws/scripts/deploy.sh
Owners: @estatekit/devops-team

Add public-samples/documents-api-9ccfey/infrastructure/aws/scripts/rollback.sh
  infrastructure/aws/scripts/rollback.sh
Owners: @estatekit/devops-team

Add public-samples/documents-api-9ccfey/infrastructure/aws/scripts/setup-eks.sh
  infrastructure/aws/scripts/setup-eks.sh
Owners: @estatekit/devops-team

Add public-samples/documents-api-9ccfey/infrastructure/aws/scripts/setup-monitoring.sh
  infrastructure/aws/scripts/setup-monitoring.sh
Owners: @estatekit/devops-team

Add public-samples/documents-api-9ccfey/src/backend/.dockerignore
  src/backend/.dockerignore
Owners: @estatekit/core-team

Add public-samples/documents-api-9ccfey/src/backend/.env.development
  src/backend/.env.development
Owners: @estatekit/core-team

Add public-samples/documents-api-9ccfey/src/backend/.env.production
  src/backend/.env.production
Owners: @estatekit/core-team

Add public-samples/documents-api-9ccfey/src/backend/.env.staging
  src/backend/.env.staging
Owners: @estatekit/core-team

Add public-samples/documents-api-9ccfey/src/backend/Dockerfile
  src/backend/Dockerfile
Owners: @estatekit/core-team

Add public-samples/documents-api-9ccfey/src/backend/Dockerfile.development
  src/backend/Dockerfile.development
Owners: @estatekit/core-team

.github/CODEOWNERS:

# Unless a later match takes precedence, @estatekit/core-team
# will be requested for review when someone opens a pull request
* @estatekit/core-team

# Core domain logic ownership
src/backend/EstateKit.Documents.Core/** @estatekit/domain-experts

# Infrastructure implementation ownership
src/backend/EstateKit.Documents.Infrastructure/** @estatekit/infrastructure-team

# API implementation ownership
src/backend/EstateKit.Documents.Api/** @estatekit/api-team

# AWS infrastructure configuration ownership
infrastructure/aws/** @estatekit/devops-team

# CI/CD workflow ownership
.github/workflows/** @estatekit/devops-team

# Security implementation ownership - requires security team review
src/backend/**/Security/** @estatekit/security-team
src/backend/**/Authentication/** @estatekit/security-team

# Test implementation ownership
src/backend/tests/** @estatekit/qa-team

# Sensitive paths requiring security team review
infrastructure/aws/kubernetes/base/secrets.yaml @estatekit/security-team
